* {
    /* outline: 2px solid red; */
    box-sizing: border-box;
}


body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}

button {
    font-family : inherit;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.header {
    margin-top: -2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > h1 {
    font-size: 4.5em;
    font-weight: 300;
}

.line{
    border-top: 2px solid #f6bd60;
    border-bottom: 2px solid #f6bd60;
    height: 10px;
    width: 10em;
}

.calculator-body {
    width: 22vw;
    height: 80vh;
    margin-right: 0;
    padding: 0;
    border-radius: 2.5em;
    /* background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%); */
    background: rgb(0,0,0);
    /* background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgb(60, 60, 60) 100%); */
    /* background: linear-gradient(rgba(0,0,0,1), rgb(60, 60, 60)); */
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.display {
    width: 85%;
    min-height: 30%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 2px solid #f6bd60;
    overflow: hidden;
}

.current-operations, .previous-operations {
    color: white;
}

.current-operations {
    margin-bottom: 1em;
    margin-top: 0;
    font-size: 3em;
}

.previous-operations {
    margin: 0;
}

.buttons {
    margin-bottom: 2em;
    flex-grow: 3;
    width: 85%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 1em;
    row-gap: 1em;
    justify-content: center;
}

.buttons > button {
    font-size: 1.5em;
    border-radius: .5em;
    text-align: center;
    cursor: pointer;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

span {
    position: relative;
    bottom: 1ex; 
    font-size: 80%;
}

.functions, .operations {
    background-color: #fee440;  
    color: black;
}

.numbers, .change-sign, .dot {
    color: #fee440;
    background-color: rgba(52, 52, 52, 0.8);
}

.equals {
    background-color: #f6bd60;
}